
<div class="container">
  <h1>Task Management</h1>
  <div class="panel panel-primary">
    <div class="panel-heading">UPDATE TASK</div>
    <div class="panel-body">
    <div class="row">



     <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                      <div class="col-sm-6">
                                <div class="form-group custon-textarea no-padd-left col-sm-12">
                                        <label for="Remark">Remark</label>
                                        <textarea class="form-control" rows="3" id="comment" placeholder="" formControlName="remark"></textarea>
                                    </div>
                              <div class="form-group col-sm-12">
                               <label>Date of completion</label>
                               <input type="date" name="t2" class="form-control" id="" placeholder="" formControlName="completiondate">
                                     </div>

                                          <div class="form-group col-sm-12">
														<label for="multiple">Select Multiple User</label>
                                                       <div class="col-sm-12">
                                                        <select  id="myselect" name="myselect[]" multiple  formControlName="users">
                                                       <option value="1" *ngFor="let  emp of  employes " value="{{emp.id}}">{{emp.name}}</option>
                                                        </select>
                                                    </div>
											        		</div>

                                  </div>


                              <input type="submit" class="btn btn-primary" value="update task ">

                             </form>

<script>

  $('#myselect').selectpicker();
  $('#myselect').selectpicker('val', [1,3,4]);
</script>
