<!--The content below is only a placeholder and can be replaced.-->
<header>
  <nav class="navbar navbar-default mymenu">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
           </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
              <li class="header-options"> <a  [routerLink]="['/']" >Home</a>  </li>
              <li class="header-options"> <a  id="loginLink" [routerLink]="['login']" >Login</a> </li>
              <li class="header-options"> <a  id="registrationLink" [routerLink]="['reg']" >Registration</a > </li>
              <li class="header-options"> <a  id="aboutLink"  [routerLink]="['about']" >About</a>  </li>
              <li class="header-options" style="padding-left: 60px;"> <a mat-button  (click)="profileEdit()" *ngIf="isLoggedIn">{{username}}</a> </li>
              <li class="header-options" style="padding-left: 30px;"> <a mat-button  (click)="logoutbt()" *ngIf="isLoggedIn">Logout</a> </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </div>
    </div>
  </nav>
  </header>
<router-outlet></router-outlet>
