<div class="container">

    <p>users list  with department </p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of emps ">
          <td>{{emp.name+"\t"+emp.lastname}}</td>
          <td>{{emp.email}}</td>
          <td>{{ emp.dept.name }}</td>
          <button class="btn btn-danger"  (click)="deleteEmployee(emp.id)" >remove</button>
          <button class="btn btn-primary">admin</button>
        </tr>
     </tbody>
    </table>
  </div>
