<div class="main">
<div class="input"><input style="height: 40px; width: 430%;" title="" type="text" name="remark" placeholder="remark-text"></div>
<div class="description"><input style="height: 40px; width: 300px; font-size: 20px; margin-left: 40%" type ="submit" name="description" placeholder="discription"  value="description" ></div>

<div class="user"><input style="height: 35px; width: 100px; font-size: 15px;" type="submit" name="" value="user"></div>
<div class="comment"><input style="height: 35px; width: 100px;  font-size: 15px; " type="submit" name="" value="comment"></div>

<!--  second input -->
<!--

<div class="input"><center><input style="height: 40px; width: 500px;  font-size: 15px;" title="" type="text" name="remark" placeholder="remark-text"></center></div>
<div class="description"><input style="height: 40px; width: 300px;  font-size: 20px; " type ="submit" name="description" placeholder="discription"  value="description"></div>

<div class="user"><input style="height: 35px; width: 100px;  font-size: 15px;" type="submit" name="" value="user"></div>
<div class="comment"><input style="height: 35px; width: 100px;  font-size: 15px; " type="submit" name="" value="comment"></div>

<!-- third input -->
<!--
<div class="input"><center><input style="height: 40px; width: 500px;  font-size: 15px;" title="" type="text" name="remark" placeholder="remark-text"></center></div>
<div class="description"><input style="height: 40px; width: 300px;  font-size: 20px;" type ="submit" name="description" placeholder="discription"  value="description"></div>

<div class="user"><input style="height: 35px; width: 100px;  font-size: 15px;" type="submit" name="" value="user"></div>
<div class="comment"><input style="height: 35px; width: 100px;  font-size: 15px; " type="submit" name="" value="comment"></div>
-->

</div>
