<div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 col-sm-12">
    <table class="table table-responsive table-border">
    <thead>
    <tr>
    <th>REMARK </th>
    <th> COMPLETE DATE </th>
    <th>  ASIGN DATE </th>
          <th >COMMENT</th>
    </tr>
    </thead>
    <tr *ngFor=" let task of taskList">
        <td>{{task.remark}}</td>
        <td>{{task.asignDate}}</td>
        <td>{{task.atComplete}}</td>
        <td>
          <button tupe="submit" value={{task.taskId}} class="btn btn-primary" (ngClick)="commentClick()">Comment</button>
          <button tupe="submit" class="btn btn-danger">Show Comment</button>
        </td>
     </tr>
    </table>
    </div>
  </div>
</div>
