<div class="container">
    <div class="row">
    <div class="col-md-12 col-sm-12 col-sm-12">
    <table class="table table-responsive table-border">
    <thead>
    <tr>
    <th>REMARK </th>
    <th> COMPLETE DATE </th>
    <th>  ASIGN DATE </th>
          <th   style="margin-left: 36px;">STATUS</th>
          <th  style="padding-left: 41px;">COMMENT</th>
    </tr>
    </thead>
    <tr *ngFor=" let task of taskList">
        <td>{{task.remark}}</td>
        <td>{{task.atComplete}}</td>
        <td>{{task.asignDate}}</td>
        <td> <label style="margin-left: 15; color :blue; font-size: 20px;"  *ngIf="task.completed">completed</label>
          <!-- <button type="button"  class="btn btn-primary"  *ngIf="task.completed" (click)="taskCompleteClick(task.taskId,task)">COMPLETE</button> -->
          <button type="button" style="margin-left: 15;"  class="btn btn-primary"  *ngIf="!task.completed" (click)="taskCompleteClick(task.id,task)">COMPLETE</button>
        </td>
         <td>
         <button type="button"   style="margin-left: 36px;" value={{task.id}}   class="btn btn-primary"  (click)="commentClick(task.id)">Comment</button>
        </td>
     </tr>
    </table>
    </div>
  </div>
</div>
