<div class="main">
  <h1 style="font-family: sans-serif; margin-top: 20%; margin-left: 4%; "> <u>User Management</u></h1>
  <h1 style="font-family: sans-serif; margin-top: 20%; margin-left: 4%; "> <u>Task Management</u></h1>
  </div>
  <div class="task">
    <input style="height: 40px; width: 700px; margin-top: 8%;" title="" type="text" name="remark" placeholder="remark-text">
    <input style="height: 40px; width: 150px; font-size: 20px; " type ="submit" name="description" placeholder="discription"  value="update" >
    <input style="height: 40px; width: 150px; font-size: 20px; " type ="submit" name="description" placeholder="discription"  value="delete" >
    <div class="user">
    <input style="height: 35px; width:100px; font-size: 15px;  " type="submit" name="" value="user">
  </div>
  <div class="comment">
    <input style="height: 37px; width: 100px;  font-size: 15px; " type="submit" name="" value="comment">
    </div>
  </div>
