<div class="container">
  <div class="row">
    <div class="col-sm-3">
        <button class="btn btn-primary">user manegement </button><br>
        <button (click)="newTaskClick()" class="btn btn-primary">assign new task </button>
    </div>
    <div class="col-sm-6">
     <div >
       <table class="table table-border">
        <thead>
        <tr>

              <th>Remark</th>
              <th>Status</th>
                  <th></th>
                  <th></th>
     </tr>
<tr *ngFor="let task of tasks">
<td  (click)="taskDesc(task.id)" >{{task.remark}} </td>
<td *ngIf="task.completed" >completed</td>
<td *ngIf="!task.completed" >Running</td>
<td > <button  (click)="TaskUpdateButton(task.id)"   class="btn btn-primary">update</button></td>
<td > <button (click)="deleteTaskByid(task.id)" class="btn btn-primary">delete</button></td>

</tr>
</thead>
</table>
</div>
</div>
</div>
</div>
