.main{
  height: 600px;
  width: 23%;
  background-color: rgba(186, 228, 248, 1);
  border: 1px solid black;
  float: left;
}
.task{

  float: right;
  height: 600px;
  width: 76.6%;

  border: 1px solid black;

}
.user{
  margin-top: 0.05%;
  margin-left: 38%;
}
.comment{
  margin-top: -2.5%;
  margin-left:45.2%;
}
