<div class="container">
  <div class="col-sm-12">
    <div *ngFor="let comm of comlist"  style="margin-top: 20xp;">
      <h4>{{comm.commentRemark}} </h4>
      <span style="margin-right: 10px"> {{comm.emp.name}} </span>  <span  style="margin-right: 10px" > {{comm.dateTimeComment}} </span>  <span  style="margin-right: 10px">{{comm.emp.dept.name}}</span>
    </div>
  </div>

  <div class="col-sm-12" style="margin-top: 30px;">

    <textarea  [(ngModel)]='commentRemark'  style="margin-top: 135px; margin-bottom: 00px;" class="form-control" rows="3" id=""
      placeholder="Write a Comment"></textarea>
      <button  (click)="addComment()" type="submit" class="btn btn-primary btn-lg">Comment</button>

  </div>

  <div class="row">
    <div class="col-sm-6">

    </div>
  </div>


  </div>
